html{
    background-color: rgb(41, 41, 41);
}

text{
    stroke:rgb(255, 255, 255);
    stroke-width:.8;
    fill:none;
    font-family: Consolas;
    font-size: 150%;
}

label{
    color: snow;
}

th{
    background-color: darkred;
}

td{
    color: whitesmoke;
}

table{
    width: 100%;
}

/* Clases*/

.divAgregar{
    background-color:black;
    animation-name: aparecer;
    animation-duration: 3s;
    position: absolute;
    width: 25%;
    font-weight: bold;/*poner en negrita*/
    top: 25%;/*posicion del div absolute*/
    right: 36.5%; /*posicion del div absolute*/
    padding: 1%;
    border-radius: 5px;
}

@keyframes aparecer{
    from {opacity: 0;}
    to {opacity: 1;}
}


.loading{
    width: 100%;
    height: 100%;
    position: absolute;    
    left: 37.5%;
    top: 25%;
    
}

/* BOTONES */

.btnChico{
    color: white;
    border: none;
    font-weight: bold;
    border-radius: 10px;
    margin: 0.4%;    
}

.btnChico.eliminar{
    background-color: darkred;
    float: left;
}


.btnChico.modificar{
    background-color: darkcyan;
    float: right;
}


