html{
    background-image: url("./imagenWindows.png");
}

h1{
    color: whitesmoke;
    margin: auto;
    width: 30%;
}

.contenedor{
    margin : auto;
    background-color: antiquewhite;
}

.numero{
    margin: 10px 8px 10px 8px;
    padding: 10px 8px 10px align-self;
    color: blue;   
    
}

.sindato{
    margin: 10px 8px 10px 8px;
    padding: 10px 8px 10px align-self;
    color: blue;   
    border-color:red;

}

.button{
    background-color: darkred;
    color: white;
    border: none;
    font-weight: bold;
    border-radius: 10px;
    
}
.botonAparecer{
    position: absolute;
    margin: auto;
    right: 0;
    background-color: aquamarine;
    width: 10%;
}

.fieldsetVisible{
    background-color: grey;
    margin: auto;
    height: 400px;
    position: relative;  
    bottom: -100px;  
    
}

.fieldsetNOVisible{
    background-color: grey;
    margin: auto;
    visibility: hidden;
    position: relative;  
    bottom: -20px;  
    
}

th{
    background-color: greenyellow;
}
