html{
    background-image: url("./imagenWindows.png");
}

h1{
    color: whitesmoke;
    margin: auto;
    width: 30%;
}

text{
    color: snow;
}

.contenedor{
    margin : auto;
    background-color: antiquewhite;
    border-radius: 10px;
    padding: 10px;
}

.numero{
    margin: 10px 8px 10px 8px;
    padding: 10px 8px 10px align-self;
    color: blue;   
    
}

.sindato{       
    border-color:red;
}

.button{
    background-color: darkred;
    color: white;
    border: none;
    font-weight: bold;
    border-radius: 10px;
    
}
.botonAparecer{
    position: absolute;
    margin: auto;
    right: 0;
    background-color: aquamarine;
    width: 10%;
}

.fieldsetVisible{
    background-color: grey;
    /* margin: auto; */
    width: 50%;
    position: fixed;  
    bottom: 25%;
    right: 25%;  
    animation-name: aparecer;
    animation-duration: 3s;
    padding: 10px;
    border-radius: 4px;
}

@keyframes aparecer{
    from {opacity: 0;}
    to {opacity: 1;}
}

.fieldsetNOVisible{    
    visibility: hidden;
}

th{
    background-color: greenyellow;
}

td{
    color: whitesmoke;
}

table{
    width: 100%;
}

a{
    color: lightskyblue;
}
